body{
    margin: 0;
    font: .9em arial,sans-serif;
    width: 100vw;
    height: 100vh;
}
main{
    height: 29.4em;
}

.cabecera{
    display: flex;
   gap:1em;
   height: 3.5em;
   align-items: center;
   margin-right: 2em;
}
.sobre{
    margin-left: 2em;
}
.dchaCabecera{
    
    gap: 1em;    
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-items: center;
    
}
.hijoCabecera{
    min-width: 6em;
}
.logo{
    
    width: 19em;
    position: relative;
    top: 47%;
    
}
.conlogo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background: red; */
    height: 12em;
    padding-bottom: 3em;
    position: relative;
    bottom: 5em;
}
.conbarra{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 21%;
    left: 27.3%;
    border: 0.01em solid rgb(200, 200, 200);
    width: 44.2%;
    height: 3.3em;
    border-radius: 3em;
    padding-right: 1em;
    
}
.barra{
    width: 33em;
    align-items: flex-start;
    border: none;
    outline: none;
    
}
.conbusqueda{
    display: flex;
    justify-content: center;
    height: 3em;
    align-items: flex-end;
    gap: 2em;
    position: relative;
    bottom: 5em;
}
.icono{
    width: 1.7em;
    height: 1.7em;
    margin: 0.5em;
    position: relative;
    top: .2em;
    
    }
.lupa{
    position: relative;
    right: .5em;
}

.boton{
    border: none;
    background: #fff;padding: 1em;    
}
.boton:hover{
    cursor: pointer;
    border:solid gray !important;
}
.link{
    color: blue;
    box-shadow: none;
    text-decoration: none;
}
.conidioma{
    display: flex;
    justify-content: center;
    padding: 2em;
    position: relative;
    bottom: 5.3em;
}
.footerup{
    background: #e5e8eb;
    color: blue;
    font: 1em arial, sans-serif;
    width: 98.3vw;
    height: 2em;
    padding: 1em 0em 0em 1.5em;
    display: inline-block;
}
.footerdown{
    background: #e5e8eb;
    border-top: solid rgb(215, 211, 211);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    height: 3.5em;
    row-gap: 1em;
    column-gap: 3em;
    width:100vw ;
    
   
}
.fdi{
    display: flex;
    justify-content: space-evenly;
    gap: 1.8em;
    align-self: center;
    margin-inline-start: 1.4em;
    font-size: 0.9em;
    
}
.fdd{
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-size: 0.9em;
    gap: 1.8em;
    margin-inline-end: 1.3em;
    }
    .fdc{
        align-self: center;
        font-size: 0.9em;
    }
    .hoja{
        width: 1.2em;
    }
   